*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	background: #777;
	background-image: url('/bg.jpg');
	background-blend-mode: multiply;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
